body {
  padding: 0;
  margin: 0;
  background-color: #C8C8C8;
}

.phone-canvas {
  background-image: url(phone-case.png);
  background-size: 400px 800px;
  background-repeat: no-repeat;
  width: 400px;
  height: 800px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.app-contenu {
  position: absolute;
  top: 100px;
  left: 16px;
  overflow: hidden;
  width: 367px;
  height: 595px;
  background-color: gray;
}


@-webkit-keyframes slideOut {
  from {
    -webkit-transform: none;
    transform: none;
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOut {
  from {
    -webkit-transform: none;
    transform: none;
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.main-container-list {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: auto;
  z-index: 2;
  background-color: white;
}

.main-container-list.slideOut {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}

.main-container-list.slideIn {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


.main-container-detail {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: auto;
  z-index: 1;
  background-color: white;
}

.back-icon {
  display: none;
  float: left;
  color: white;
  background-color: rgba(0,0,0,.1);
  border-radius: 10px;
  line-height: 14px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.header-menu {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #CB3E3E;
  margin: 0;
  line-height: 5rem;
  z-index: 3;
}

.header-menu-lib {
  color: white;
  display: inline-block;
  margin-left: 20px;
}

.header-menu-lib {
  font-weight: bold;
  font-size: 2rem;
}

.fake-fb {
  width: 35px;
  height: 35px;
  position:absolute;
  right: 20px;
  top: 10px;
  background-image: url(../img/facebook.jpg);
  background-size: 170%;
  border-radius: 50%;
  background-position: -5px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

table {
  margin: 0 !important;
}

tr {
  height: 100px;
  cursor: pointer;
}
td.td-lieux-image {
  padding: 10px !important;
}
tr:hover td {
  background-color: rgba(0,0,0,0.1);
}
img.lieux-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.lieux-lib {
  font-size: 1.6rem;
  font-weight: bold;
  height: 50px;
}


.count-anecdotes {
  
}

.lieux-dist, .lieux-hearts {
  width: 70px;
  text-align: left;
} 
.lieux-dist i {
  display: inline-block;
  font-size: 20px;
  float: left;
  margin-right: 10px;
}
.lieux-hearts i {
  display: inline-block;
  font-size: 20px;
  float: left;
  margin-right: 10px;
}
.lieux-dist {
  margin-top: 5px !important;
  color: #2D2D9C;
}
.lieux-hearts {
  margin-top: 30px !important;
  color: #448244;
}

tr:nth-child(odd) {
  background-color: #DDDDDD !important;
}
tr:nth-child(even) {
  background-color: #CCCCCC;
}

.pub {
  font-weight: bold;
  white-space: normal;
  cursor: pointer;
  color: white;
  background-color: #4195D6;
  text-align:center;
  padding: 20px;
  font-size: 2rem;
}
.pub a {
  color: white !important;
}

.detail-header.eura {
  background-image: url(../img/eura.jpg);
  background-size: cover;
  height: 50%;
  width: 100%;
}
.detail-header.omnia {
  background-image: url(../img/omnia.jpg);
  background-size: cover;
  height: 50%;
  width: 100%;
}
.detail-header-mask {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  color: white;
  padding: 30px;
  box-sizing: border-box;
  font-size: 3rem;
  font-weight: bold;
}

.detail-header-lib {
  text-shadow: 0 0 10px rgba(0,0,0, 0.3);
  line-height: 4rem;
}

.detail-header-tags {
  font-size: 14px;
  padding: 20px;
}
.detail-header-btn {
  margin-top: 5rem;
}

.detail-header-infos {
  font-size: 1.4rem;
  margin-top: 60px;
  color: #FF8B8B;
  text-shadow: 0 0 10px rgba(0,0,0, 0.7);
}